:root {
    --nav-bar:#054A29;
    --nav-bar-link:#91E86A;
    --high-contrast:#40FF00;
    --neutral:#89B0A8;
    --darker-neutral:#69A297;
    --low-intensity-negative:#61210F;
    --negative:#EA2B1F;
}

.custom-click-row {
    --h: 88px;   /* the size of the image */
    --b: 20px;     /* the border thickness*/
    --g: 0px;    /* the gap */
    --c: #4ECDC4; /* the color */
    background-color: var(--high-contrast);
    outline: calc(var(--h)/2) solid #0009;
    outline-offset: calc(var(--h)/-2);
    transition: .4s;
    color: var(--high-contrast);
    border-radius:10px;

}
.custom-click-row:hover {
        background-color: var(--high-contrast);
        outline: var(--b) solid var(--nav-bar);
        outline-offset: var(--g);
        color: black
}

.base-row {
    background-color: var(--neutral);
}
.highlight-row {
    background-color: var(--darker-neutral);
}
.custom-navbar {
    background-color: var(--nav-bar);
    a:link {
        color: var(--nav-bar-link);
    }
    a:visited {
        color: var(--nav-bar-link);
    }
    a:hover {
        color: white;
    }
}

.btn-primary {
    background-color: var(--nav-bar);
    color: var(--nav-bar-link);
    border-color: var(--nav-bar);

}

.btn-primary:hover {
background-color: var(--high-contrast);
color: black
}

