{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title%}Returned Matches{% endblock%}
{% block content %}

<div class="container text-center pt-8 pb-5">
  <div class="row">
    <div class="col-xl-12">
      <h1 class="pt-5">Match Results</h1>
    </div>
  </div>
</div>

{% for k, v in detailed_matches_dict.items(): %}
	<div class="container text-center pt-3 pb-3">
		<div class="row pt-2 pl-2 custom-click-row"><i>Get CPM Details</i>
			<div class="col-md-12">
				<div class="row">
					<a href="{{ url_for('match', puuid = v['puuid'], participant_id = v['participantId'] , match_id = v['matchId']) }}" class="stretched-link"></a>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<p><strong>Summoner:</strong> {{v['riotIdGameName']}}</p>
							</div>
							<div class="col-md-6">
								<p><strong>Game Date: </strong> {{ v['gameCreation'] }}</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<p><strong>Game Length:</strong> {{v['gameDuration']}}</p>
							</div>
							<div class="col-md-6">
								<p><strong>Game Mode:</strong> {{v['gameMode']}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							{% if v['win'] == True: %}
							<div class="col-md-6" style="color: gold">
								<p><strong>Victory</strong></p>
								</div>
							{% else %}
							<div class="col-md-6" style="color: red">
								<p><strong>Defeat</strong></p>
								</div>
							{% endif %}
							<div class="col-sm-3">
								<p><strong>KDA</strong> {{v['kda']}}</p>
							</div>
							<div class="col-sm-3">
								<p><strong> <span style="color:gold">{{v['kills']}}</span>/<span style="color:red">{{v['deaths']}}</span>/<span style="color: #58C2C3">{{v['assists']}}</span></strong></p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<p><strong>{{v['lane']}}</strong></p>
							</div>
							<div class="col-md-6">
								<p><strong>{{v['championName']}}</strong></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

{% endblock %}