{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title%}Match Detail{% endblock%}
{% block content %}

<div class="container text-center pt-8 pb-5">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="pt-5">Match Comparison</h1>
        </div>
        <div class="col-xl-12 pt-3">
            <h2>{{ message }}</h2>
        </div>
    </div>
</div>

{% for k, v in compare_detail.items(): %}
<div id="expanding-row-wrapper" onclick="showHideRow('hidden-row-{{k}}')">
    <div class="container text-center pt-3 pb-3 base-row-{{( k % 2)}}">
        <div class="row">
            <div class="col-md-3">
                <p><strong>Minute:</strong> {{k}}</p>
            </div>
            <div class="col-md-3">
                <p><strong>Your Total CS Added: </strong> {{ v['your_cs_added'] }}</p>
            </div>
            <div class="col-md-3">
                <p><strong>Your Total Exp Added:</strong> {{v['your_exp_added']}}</p>
            </div>
            <div class="col-md-3">
                <p><strong>Your Total Gold Added:</strong> {{v['your_gold_added']}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <p><strong>Expert Total CS Added: </strong> {{ v['expert_cs_added'] }}</p>
            </div>
            <div class="col-md-3">
                <p><strong>Expert Total Exp Added:</strong> {{v['expert_exp_added']}}</p>
            </div>
            <div class="col-md-3">
                <p><strong>Expert Total Gold Added:</strong> {{v['expert_gold_added']}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <p><strong>CS Diff: </strong> {{ v['your_cs_added'] - v['expert_cs_added'] }}</p>
            </div>
            <div class="col-md-3">
                <p><strong>Exp Diff:</strong> {{v['your_exp_added'] - v['expert_exp_added'] }}</p>
            </div>
            <div class="col-md-3">
                <p><strong>Gold Diff:</strong> {{v['your_gold_added'] - v['expert_gold_added'] }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="container text-center pt-3 pb-3">
    <a class="btn btn-primary btn-lg fixed-bottom" href="javascript:window.history.back();" role="button">Go Back</a>
</div>


{% endblock %}