{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title%}Match Detail{% endblock%}
{% block content %}

<div class="container text-center pt-8 pb-5">
  <div class="row">
    <div class="col-xl-12">
      <h1>Match Results</h1>
    </div>
    <div class="col-xl-12">
      <h2>{{ message }}</h2>
    </div>
  </div>
</div>

{% for k, v in csm_detail.items(): %}
    {% if ( k % 2) == 0: %}
    <div class="container text-center pt-3 pb-3 base-row">
    {% else %}
    <div class="container text-center pt-3 pb-3 highlight-row">
    {% endif %}

            <div class="col-md-12">
                <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Minute:</strong> {{k}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Total CS: </strong> {{ v['total'] }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Lane CS Added:</strong> {{v['lane_diff']}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Jungle CS Added:</strong> {{v['jungle_diff']}}</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endfor %}

<div class="footer">
    <a class="btn btn-primary btn-lg fixed-bottom" href="javascript:window.history.back();" role="button">Go Back</a>
</div>

{% endblock %}